@import "bootstrap-sprockets", "bootstrap", "pages"

body
  font-size: 16px

.logo-back
  background: image_url('shiftcity.svg')
  background-repeat: no-repeat
  background-size: 30%
  height: 100vh
  text-align: center
  h1
    font-family: 'Courier New', monospace
    font-size: 5rem
.search-container
  height: auto
  min-height: 70vh
  display: flex
  justify-content: center
  align-items: center
  .center-img
    padding: 15px
    margin: 0 auto
    display: block
  .search-input-group
    flex: 1


.city-header
  height: 30vh
  background: #ECEFF1