@import "bootstrap-sprockets", "bootstrap", "pages"


.search-container
  height: auto
  min-height: 70vh
  display: flex
  justify-content: center
  align-items: center
  .center-img
    padding: 15px
    margin: 0 auto
    display: block
  .search-input-group
    flex: 1
